body {
    width:100%;
}
header{
    height:100px;
}
#logo{
    width:80%;
    float:left;
}
#menu-punkt {
    width: 10%;
    float: left;
}
#search-link{
    color:#ffffff;
}
#search-box{
    width:80%;
    background-color:#ff3300;
    margin:0 8% 0 10%;
    border-radius:10px;
    border:2px 2px 2px 2px;
    border-style:solid;
    border-color:#000000;
    float:left;
}