body, html {
    width:100%;
    padding: 0;
    margin: 0;
}
header{
    height:70px;
    margin:10px;
}
#logo{
    width:80%;
    max-width:406px;
    float:left;
    max-height:70px;
}
#menu-punkt {
    float: right;
    height:70px;
    width:83px;
}
@media only screen and (max-width : 434px) {
    #menu-punkt {
        height:auto;
        width:20%;
    }
}
#search-link{
    color:#ffffff;
}
#search-box{
    width:80%;
    background-color:#ff3300;
    margin:0 8% 0 10%;
    border-radius:10px;
    border:2px 2px 2px 2px;
    border-style:solid;
    border-color:#000000;
    float:left;
}